#left-site{
    height: 100vh;
    background-color: #00002e;
  }

  #left-site .title,
  #left-site i{
    color: #d292ff;
    font-size:  1.5rem;
    font-weight: bold;
    cursor: default;
  }
  #left-site span{
    color: #d292ff;
    font-size:  1.5rem;
    font-weight: bold;
    cursor: default;
    margin-right: 5px;
  }
  #right-site {
    background-color: black;
    padding: 20px;

  }

  #right-site h2 {
    color: white;
    font-size: 2.4em;
    font-weight: bold;
  }

  .login-btn,
  .signup-btn {
    background-color: #3c46ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 70px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 5px;
    cursor: pointer;

  }

  .login-btn:hover,
  .signup-btn:hover {
    background-color: #0091ff;
  }


  #right-site i {
    color: white;
  }

  #right-site a {
    color: #fff;
    margin: 0 10px;
  }

  #right-site .text-gray-600 {
    color: #888;
  }

  #right-site span.nz-icon {
    color: white;
    font-size: 3em;
  }

  .left-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:self-start;
    margin-left: 25px;
    padding-bottom: 10em;
  }

  #question-answer-container {
    text-align: center;
    margin-top: 50px;
  }

  .typing-text {
    color: #d292ff;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    animation: typing steps(20) infinite;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1px;
  }
  .typing-text1 {
    color: #d292ff;
    overflow: hidden;
    border-right: 2px solid #d292ff;
    white-space: nowrap;
    display: inline-block;
    animation: typing 3s steps(20) infinite;
    font-weight: 500;
    font-size: 30px;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
