@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}
:-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.1);
}
::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: rgba(217, 217, 227, 0.8);
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}
